BEGIN;
--
-- Create model AcademicYear
--
CREATE TABLE "core_academicyear" ("id" char(32) NOT NULL PRIMARY KEY, "label" varchar(100) NOT NULL, "start_year" integer NOT NULL, "end_year" integer NOT NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL);
--
-- Create model Class
--
CREATE TABLE "core_class" ("id" char(32) NOT NULL PRIMARY KEY, "code" varchar(50) NOT NULL UNIQUE, "label" varchar(255) NOT NULL, "cycle" varchar(100) NULL, "level_order" integer NULL, "created_at" datetime NOT NULL);
--
-- Create model DocumentType
--
CREATE TABLE "core_documenttype" ("id" char(32) NOT NULL PRIMARY KEY, "code" varchar(50) NULL, "label" varchar(255) NOT NULL, "description" text NULL, "created_at" datetime NOT NULL);
--
-- Create model Subject
--
CREATE TABLE "core_subject" ("id" char(32) NOT NULL PRIMARY KEY, "code" varchar(50) NULL, "name" varchar(255) NOT NULL, "description" text NULL, "created_at" datetime NOT NULL);
--
-- Create model Profile
--
CREATE TABLE "core_profile" ("id" char(32) NOT NULL PRIMARY KEY, "email" varchar(254) NOT NULL UNIQUE, "full_name" varchar(255) NULL, "role" varchar(50) NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "class_id_id" char(32) NULL REFERENCES "core_class" ("id") DEFERRABLE INITIALLY DEFERRED);
--
-- Create model Document
--
CREATE TABLE "core_document" ("id" char(32) NOT NULL PRIMARY KEY, "title" varchar(255) NOT NULL, "description" text NULL, "file_name" varchar(255) NOT NULL, "file_path" varchar(500) NOT NULL, "bucket_name" varchar(255) NULL, "mime_type" varchar(100) NULL, "file_size" integer NULL, "status" varchar(50) NOT NULL, "is_published" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "academic_year_id_id" char(32) NOT NULL REFERENCES "core_academicyear" ("id") DEFERRABLE INITIALLY DEFERRED, "class_id_id" char(32) NOT NULL REFERENCES "core_class" ("id") DEFERRABLE INITIALLY DEFERRED, "document_type_id_id" char(32) NOT NULL REFERENCES "core_documenttype" ("id") DEFERRABLE INITIALLY DEFERRED, "uploaded_by_id" char(32) NULL REFERENCES "core_profile" ("id") DEFERRABLE INITIALLY DEFERRED, "subject_id_id" char(32) NOT NULL REFERENCES "core_subject" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "core_profile_class_id_id_5bd1938f" ON "core_profile" ("class_id_id");
CREATE INDEX "core_document_academic_year_id_id_d7636232" ON "core_document" ("academic_year_id_id");
CREATE INDEX "core_document_class_id_id_d052399e" ON "core_document" ("class_id_id");
CREATE INDEX "core_document_document_type_id_id_13e79551" ON "core_document" ("document_type_id_id");
CREATE INDEX "core_document_uploaded_by_id_b2667a66" ON "core_document" ("uploaded_by_id");
CREATE INDEX "core_document_subject_id_id_3f1dd974" ON "core_document" ("subject_id_id");
COMMIT;
